@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Futura', sans-serif;
    background-color: #1B191A;
    overflow-x: hidden;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}

.inner {
    min-width: 100%;
    height: 100vh;
}

.header {
    width: 80%;
    display: flex;
    margin: 2rem auto;
    justify-content: space-between;
    align-items: center;
    .header__menu {
        max-width: 60rem;
        
        ul {
            display: flex;
            width: 50rem;
            justify-content: space-between;
            font-size: 2.4rem;

            li a {
                position: relative;
            }

            li a::before {
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0;
                width: 90%;
                height: 2px;
                background-color: #00EAF9;
                transform-origin: center;
                transform: translate(-50%, 0) scaleX(0);
                transition: transform 0.3s ease-in-out;
            }

            li a:hover::before {
                transform: translate(-50%, 0) scaleX(1);
            }
        }
    }
}

.main {
    max-width: 75%;
    height: 80%;
    display: flex;
    margin: auto auto;
    justify-content: space-between;
    align-items: center;

    &__next {
        position: relative;
        bottom: 150px;
        margin: 10rem auto;
        border-radius: 30px;
        width: 40px;
        height: 60px;
        border: 1px solid #fff;
        display: flex;
        justify-content: center;
        padding: 5px;
        cursor: pointer;
        align-items: flex-end;

        .circle {
            background-color: #fff;
            width: 1px;
            justify-self: flex-end;
            height: 10px;
            animation: next .8s linear reverse infinite;
        }
        @keyframes next{
            0% {
                margin-bottom: 0px;
            }
            15% {
                margin-bottom: 1.5px;
            }
            30% {
                margin-bottom: 3px;
            }

            45% {
                margin-bottom: 4.5px;
            }
            60% {
                margin-bottom: 6px;
            }
            75% {
                margin-bottom: 7.5px;
            }
            100% {
                margin-bottom: 8px;
            }
        }
    }

    &__description {
        max-width: 82rem;
        font-size: 4.8rem;
        span {
            background: linear-gradient(left, #89F7FE 70%, #66A6FF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        color: #fff;

        .button {
            display: flex;
        }

        .desc {
            margin-bottom: 50px;
        }

        .btn {
            padding: 20px 60px;
            font-size: 1.7rem;
            font-weight: 600;
            position: relative;
        }

        .btn-2 {
            color: #fff;
            background: linear-gradient(-45deg, #89F7FE 0%, #66A6FF 100%, #66A6FF 70%, #66A6FF 100%, );

        }

        .btn-2::after, .btn-2::before {
            border: 3px solid transparent;
            border-image: linear-gradient(right, #89F7FE 100%, #66A6FF 30%);
            border-image-slice: 1;
            content: "";
            position: absolute;
            width: calc(100% - 5px);
            height: calc(100% - 5px);
            left: 0;
            bottom: 0;
            z-index: -1;
            transition: transform 0.3s ease;
        }

        .btn-2:hover::after {
            transform: translate(-19px, -19px);
        }
        .btn-2:hover::before {
            transform: translate(19px, 19px);
        }
    }

    &__title {
        line-height: 22rem;
        p {
            text-align: center;
            font-size: 22rem;
            color: #fff;
        }
        .title-gradient {
            background: linear-gradient(left, #89F7FE 40%, #66A6FF 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    
}

.services {
    width: 100%;
    min-height: 100vh;
}

















// BLOBS    BLOBS       BLOBS       BLOBS       BLOBS
.blob1 {
    position: absolute;
    width: 600px;
    border-radius: 50% 50% 67% 33% / 67% 51% 49% 33%;
    background: linear-gradient(left, #89F7FE 60%, #66A6FF 100%);
    height: 600px;
    left: -380px;
    bottom: 380px;
    z-index: -9999;
    animation: animate 4s linear infinite;
}
@keyframes animate {
    0%, 100% {
        border-radius: 50% 50% 67% 33% / 67% 51% 49% 33%;
    }
    25% {
        border-radius: 68% 32% 57% 43% / 28% 55% 45% 72%;
    }
    50% {
        border-radius: 67% 33% 62% 38% / 75% 43% 57% 25%;
    }
    75% {
        border-radius: 37% 63% 33% 67% / 60% 71% 29% 40%;
    }
}

.blob2 {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 40%;
    top: 40px;
    background: linear-gradient(right, #89F7FE 60%, #66A6FF 100%);
    z-index: -9999;
    border-radius: 71% 29% 54% 46% / 43% 58% 42% 57%;
    animation: animate2 5s linear infinite;
}
@keyframes animate2 {
    0%, 100% {
        border-radius: 71% 29% 54% 46% / 43% 58% 42% 57%;
    }
    25% {
        border-radius: 32% 68% 32% 68% / 46% 27% 73% 54%;
    }
    50% {
        border-radius: 29% 71% 52% 48% / 36% 36% 64% 64%;
    }
    75% {
        border-radius: 75% 25% 40% 60% / 75% 47% 53% 25%;
    }
}

.blob3 {
    position: absolute;
    width: 700px;
    background: linear-gradient(-90deg, #89F7FE 80%, #66A6FF 100%);
    height: 700px;
    right: -470px;
    top: -100px;
    z-index: -9999;
    animation: animate3 4s linear infinite;

}
@keyframes animate3 {
    0%, 100% {
        border-radius: 71% 29% 54% 46% / 43% 58% 42% 57%;
    }
    25% {
        border-radius: 46% 54% 31% 69% / 50% 56% 44% 50%;
    }
    50% {
        border-radius: 47% 53% 28% 72% / 54% 53% 47% 46%;
    }
    75% {
        border-radius: 26% 74% 58% 42% / 30% 53% 47% 70%;
    }
}

.blob4 {
    position: absolute;
    width: 320px;
    height: 320px;
    right: -70px;
    top: 85%;
    background: linear-gradient(left, #89F7FE 60%, #66A6FF 100%);
    border-radius: 27% 73% 70% 30% / 25% 67% 33% 75%;
    animation: animate4 4s linear infinite;
    z-index: -9999;
}
@keyframes animate4 {
    0%, 100% {
        border-radius: 27% 73% 70% 30% / 25% 67% 33% 75%;
    }
    25% {
        border-radius: 31% 69% 56% 44% / 28% 31% 69% 72%;
    }
    50% {
        border-radius: 71% 29% 75% 25% / 38% 39% 61% 62%;
    }
    75% {
        border-radius: 61% 39% 69% 31% / 32% 66% 34% 68%;
    }
}

.blob5 {
    position: absolute;
    width: 120px;
    height: 120px;
    left: 200px;
    top: 85%;
    background: linear-gradient(top, #89F7FE 40%,#66A6FF 0%, #66A6FF 10%);
    border-radius: 49% 51% 31% 69% / 26% 28% 72% 74%;
    animation: animate5 4s linear infinite;
    z-index: -9999;
}
@keyframes animate5 {
    0%, 100% {
        border-radius: 49% 51% 31% 69% / 26% 28% 72% 74%;
    }
    25% {
        border-radius: 31% 69% 56% 44% / 28% 31% 69% 72%;
    }
    50% {
        border-radius: 71% 29% 75% 25% / 38% 39% 61% 62%;
    }
    75% {
        border-radius: 61% 39% 69% 31% / 32% 66% 34% 68%;
    }
}